<p>data-binding <br>
    Databinding=communication <br><br>
    
    typeescriptcode(business logic)=>output data =>template(html) <br><br>
    string Interpolation =>two flower brockets enclosed to gether <br>
    string interpolation example:sever number {{serverId}} is {{serverStratus}} and is {{getServerStatus()}} <br>
    the above '10' 'offline' use string interpolation <br> <br>
    
    property Binding => [property]="data" example <br>
    <button [disabled]="allow">click</button> {{allow}} or <span [innerText]="allow"></span><br><br>
    
</p> 

<p>
    typeescriptcode(business logic)=react to user events =template(html) <br>
    Event binding=>((event)="expression") example is givne below<br>
    
</p> 
<button (click)="oncreatserver()" >click to change</button>
<p>{{servercreationstatus}}</p> <p>passing and using data with event binding exaple is givent below</p>
<label>enter some data: </label>
<input type="text" (input)="onupdateservername($event)"> <!--  find out $event ? -->
<p>{{servername}}</p>



<p>
    <br>
    ccombination of Both: two way binding=>([(ngModel)]="data") below given example <br>
    </p>
    <label>enter the text : </label>
    <input type="text" [(ngModel)]="texttochange"><br>
    <p>{{texttochange}}</p>





