<!-- string interpolation -->
<p>{{message}}</p>
<!-- property bindin -->
<img src="{{imgurl}}" alt="">
<img [src]="imgurl" alt="">
<!-- class binging conditionally -->
<h2 [class.text-red]="bool">class binding conditional</h2>
<!-- style bingdin -->
<h2 [style.color]="'purple'">this is style binding</h2>
<h2 [style.color]="bool?'blue':'red'">this is style binding</h2>
<!-- style.color can find in 'dom style property' -->

<!-- event binding -->
<button (click)="buttonclick()">click and see in console</button>
<!-- event listener -->
<!-- <input type="text" (keyup.enter)="onKeyup($event)"> -->
<!-- <input type="text" (keyup.enter)="onKeyup()"> -->
<!-- <input type="text" (keyup.enter)="onKeyup($event)" > -->
<!-- templat varible '#' --> <br><label>  templat varible : </label>
<input type="text" (keyup.enter)="onKeyup(username.value)" #username >
<br><label >using two way data binding : </label>
<input type="text" [(ngModel)]="userName01" (keyup.enter)="twowaykeyup()">
 <br>
 <p>one -way vs two-way data binding</p>
 <br>
 