<div class="container mt-5">
  <h1>Angular Reactive Form</h1>
  <div class="form-area">

    <form [formGroup]="form" (ngSubmit)="onsubmit()">

      <div class="form-group">

        <label >First name</label>
     
        <input
         type="text" 
         placeholder="full name" 
         class="form-control" 
         name="FullName" 
         formControlName="fullName"
         
         >
         <div class="alert alert-danger" *ngIf='form.controls.FullName?.touched && form.controls.FullName?.invalid'>

          <div *ngIf="form.controls.FullName?.errors.required">the full name is required.</div>
          <div *ngIf="form.controls.FullName?.errors.minLength">The full name must be at least 5 letters long </div>


        </div>
      </div  >
      <div class="form-group">
      <label>Email</label>
        <input 
        type="text" 
        placeholder="Email" 
        class="form-control" 
        name="email"
        formControlName="email"
        >
        <div class="alert alert-danger" *ngIf='form.controls.Email?.touched && form.controls.Email?.invalid'>

          <div *ngIf="form.controls.Email?.errors.required">Email  is required.</div>
          <div *ngIf="form.controls.Email?.errors.pattern">email is in-correct </div>


        </div>
      </div>
     <div class="form-group">
      <label >Adress</label>
      <textarea 
      placeholder="Adress" 
      cols="30" 
      rows="10" 
      class="form-control" 
      name="address"
      formControlName="address"
      ></textarea>
      <div class="alert alert-danger" *ngIf='form.controls.Address?.touched && form.controls.Address?.invalid'>

        <div *ngIf="form.controls.Address?.errors.required">please enter the address.</div>
        

      </div>
      
     </div > 

     <div >

<!-- code -->

     </div>


      
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit </button>
   
 
    </form>
  </div>
 
</div>
