<div class="container">
  <app-ng-content>
    <h1>heading01</h1><!-- to display the heading in browser we have to add ng-content in ng_content component -->
  </app-ng-content>
  <app-ng-content>
    <h1>heading02</h1>
    <button class="hello"><!-- selecting ng-content using class atribute in appcomponent and in ng-contet-component we are using select atribute -->
      hello!
    </button>
  </app-ng-content>
  <app-ng-content>
    <h1>heading03</h1>
  </app-ng-content>
  <app-ng-content>
    <h1>heading04</h1>
  </app-ng-content>
</div>