div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.red{
    background-color: red;
}
.pink{
    background-color: green;
}